include templates/navigation.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Conference Management System
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/style.min.css")
  body
    +cmsnav("Index page")
    main
    h1=submission.title
    br
    p=submission.abstract
    br
    p="Status: "+ submission.status
    br
    h2="Authors:"
    br
    ul
      each author in authors
        li=author.name
    br
    a(href="/files/"+submission.attachment) File
    br
    if feedback.review != 'empty'
        p="Feedback: "+ feedback.review
    br
    hr
    if role == 'attendant' && submission.status == 'sent'
        a(href="/modify/"+submission._id) Modify
    if role == 'attendant' && submission.status == 'request_changes'
         a(href="/modify/"+submission._id) Change

    if role == 'reviewer' && submission.status == 'sent'
        h2 Give review
        form(action="/review/"+submission._id method="post")
          textarea(name="review" required)
          select(name='status' required)
            option(value='accepted') Accept
            option(value='request_changes') Request Changes
            option(value='rejected') Reject
          input(name="attachment" type="file")
          input(type="submit" value="Send")
    br

    p="TODO: Show attachment of feedback"
    p="TODO: Link to the file does not work "
    p="TODO: Give link to /modify/_id it if status allows it "
