doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/assets/style.min.css")
    body
        a(href="/") index
        h2 Modify submission named #{submission.title}
        form(action="modify-submission" method="post")
            input(name="id" value=submission._id style="display: none")
            input(name="title" placeholder="Title" value=submission.title)
            textarea(name="abstract" placeholder="Abstract")= submission.abstract
            input(name="authors" placeholder="Authors" value=authors)
            input(type="submit" value="Modify submission")
