doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conference Management System
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/assets/style.min.css")
    body
        a(href="/") index
        h2 Title: #{submission.title}
        a(href="modify-submission?id=" + submission._id) Modify submission
        p= submission.abstract
        p= presenter.name
        p= submission.reviewer
        h2 Feedback
        p= feedback.review
        h2 Authors
        ul
            each author in authors
                li= author.name
